.viewcomment_message {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

  .viewcomment_message_img {
    margin-top: 5px;
    width: 20%;

  }
  .viewcomment_message_img >img {
    max-width: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .viewcomment_message_textBox {
    width: 80%;
    font-size: 14px;
    line-height: 1.3125;

    background-color: #FEDFE1;
    border-radius: 5px;
    padding: 10px;

    &:before {
      content: "";
      display: inline-block;
      border: 10px solid transparent;
      border-right: 10px solid #FEDFE1;
      margin-left: -30px;
      position: absolute;
    }
  }

  .viewcomment_message_text_name {
    font-weight: bold;
    margin-bottom: 3px;
  }
